@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display:flex;
    max-width:700px;
    height: 370px;
    margin: 20px auto;
    border-end-end-radius: 10px;
}

img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.box-1{
    background-color: hsl(31, 77%, 52%);
    line-height: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1{
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}

p{
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2rem;
    width: 200px;
}

.box-2{
    background-color: hsl(184, 100%, 22%);
    line-height: 2rem;
}

.box-3{
    background-color: hsl(179, 100%, 13%);
    line-height: 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

h1, p {
    padding: 20px;
 }

 .Sedans {
    margin-left: 20px;
    padding: 10px;
    color: hsl(31, 77%, 52%);
    background-color:hsl(0, 0%, 95%);
    border: 0px white;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 10px;
    width: 100px;
 }

 .SUV {
    margin-left: 20px;
    padding: 10px;
    color: hsl(184, 100%, 22%);
    background-color:hsl(0, 0%, 95%);
    border: 0px white;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 10px;
    width: 100px;
 }

 .Luxury{
    margin-left: 20px;
    padding: 10px;
    color: hsl(179, 100%, 13%);
    background-color:hsl(0, 0%, 95%);
    border: 0px white;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 10px;
    width: 100px;
 }

 .Sedans:hover{
    color: white;
    background-color: hsl(31, 77%, 52%);
    border-style: none;
    border: 2px solid white;
 }

 .SUV:hover{
    color: white;
    background-color: hsl(184, 100%, 22%);
    border-style: none;
    border: 2px solid white;
 }

 .Luxury:hover{
    color: white;
    background-color: hsl(179, 100%, 13%);
    border-style: none;
    border: 2px solid white;
 }

 @media  (max-width: 500px) {
    .container{
        display: grid;
    }
 }




